[access]
	inheritFrom = All-Projects
[project]
	description = Titan Project
[access "refs/*"]
	owner = group user/Viktor Tarasov (viktorTarasov)
[access "refs/for/refs/*"]
	read = group user/Viktor Tarasov (viktorTarasov)
	push = group user/Viktor Tarasov (viktorTarasov)
	label-Code-Review = -2..+2 group user/Viktor Tarasov (viktorTarasov)
	label-Verified = -1..+1 group user/Viktor Tarasov (viktorTarasov)
	rebase = group user/Viktor Tarasov (viktorTarasov)
	removeReviewer = group user/Viktor Tarasov (viktorTarasov)
	submit = group user/Viktor Tarasov (viktorTarasov)
[access "refs/heads/*"]
	read = group user/Viktor Tarasov (viktorTarasov)
	create = group user/Viktor Tarasov (viktorTarasov)
	push = +force group user/Viktor Tarasov (viktorTarasov)
	pushMerge = group user/Viktor Tarasov (viktorTarasov)
[access "refs/tags/*"]
	push = group user/Viktor Tarasov (viktorTarasov)
	push = +force group user/Viktor Tarasov (viktorTarasov)
