[access]
	inheritFrom = All-Projects
[project]
	description = Titan Project
[access "refs/*"]
	owner = group user/viktorTarasov
[access "refs/for/refs/*"]
	read = group user/viktorTarasov
	push = group user/viktorTarasov
	label-Code-Review = -2..+2 group user/viktorTarasov
	label-Verified = -1..+1 group user/viktorTarasov
	rebase = group user/viktorTarasov
	removeReviewer = group user/viktorTarasov
	submit = group user/viktorTarasov
[access "refs/heads/*"]
	read = group user/viktorTarasov
	create = group user/viktorTarasov
	push = +force group user/viktorTarasov
	pushMerge = group user/viktorTarasov
[access "refs/tags/*"]
	push = group user/viktorTarasov
	push = +force group user/viktorTarasov
