*.old
*.log
compile
*.cc
*.hh
AnnexB1Template.ttcn
AnnexB2Template.ttcn
AnnexB3Template.ttcn
AnnexB4Template.ttcn
AnytypeTest.ttcn
AttribPathTest.ttcn
AttributesTest.ttcn
EmbedValues.ttcn
FractionDigitsTest.ttcn
NamespaceTest.ttcn
Base64Test.ttcn
X693amd1Test.ttcn
WhitespaceTest.ttcn
TTCNandXML
TTCNandXML.exe
TTCNandXML-rt2
TTCNandXML-rt2.exe
AnyStuff.ttcn
EnumTest.ttcn
DFE*Test.ttcn
Marx.ttcn
Regressions.ttcn
*.d
!Flatten.cc
